html{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.upper-content{
    display: flex;
    margin-left: 25vw;
    margin-top: 15vh;
    flex-direction: column;
}
.credit-1{
    margin-top: 4vh;
}
.credit-2{
    margin-top: 1vh;
}
.bold-big{
    font-size: 40px;
    font-weight: 500;
}
.italic{
    font-style: italic;
}
a{
    text-decoration: none;
    color: rgb(49, 129, 104);
}
.adding-book{
    display: flex;
    margin-top: 4vh;
    gap: 3vw;
}
.adding-book .item{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.adding-book .item .txt{
    font-size: 20px;
    font-weight: 600;
}
#book-text, #author-text, #status{
    border-radius: 5px;
    width: 20vw;
    height: 3vh;
    border: 1px solid rgb(209, 202, 202);
}
#status{
    width: 7vw;
    background-color: white;
}
.opt{
    background-color: black;
    color: white;
    width: 5vw;
    
}
.opt:hover{
    background-color: white;
}
.submit-button{
    height: 4vh;
    width: 7vw;
    color: white;
    background-color: rgb(62, 196, 184);
    margin-top: 3vh;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}
.book-grid{
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 6vh repeat(5, 8vh);
    /*row-gap: 2vh;*/
    margin-top: 7vh;
    margin-left: 25vw;
}
.name, .author, .status{
    font-weight: bold;
}
.book-grid .item{
    display: flex;
    border-bottom: 1px solid rgb(211, 202, 202);
    align-items: center;

}
.item.first{
    display: flex;
    align-items: center;
    
}
.item.first .author{
    margin-left: 15vw;
}
.item.first .status{
    margin-left: 10vw;
}
.book-name-value, .book-author-value, .book-status-value{
    font-size: 16px;
    font-weight: 100;
}
.book-name-value{
    width: 17.3vw;
    
}
.book-author-value{
    width: 13vw;
}
.read-button{
    width: 7vw;
    height: 4vh;
    background-color: white;
    color: rgb(122, 110, 110);
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
}

.delete-button{
    background-color: rgb(172, 22, 22);
    color: white;
    width: 7vw;
    height: 3vh;
    margin-left: 5vw;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
